/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
html {
    --primaryGradient: linear-gradient(93.12deg, #0000a0 0.52%, #4b4be1 100%);
    --secondaryGradient: linear-gradient(268.91deg, #0000a0 -2.14%, #4b4be1 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --light: 300;
    --regular: 400;
    --semiBold: 600;
    --extraLight: 300;
    --italic: 300;
    --primary: #1f1fb0;
}

/* 300;0,400;0,600;1,300 */
/* 
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
} */

#my-chatbot {
    /* This will apply to the root of your chatbot */
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

#my-chatbot * {
    /* This will apply to all elements within your chatbot */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#my-chatbot,
#my-chatbot * {
    /* This will define CSS variables for your chatbot and all its descendants */
    --primaryGradient: linear-gradient(93.12deg, #0000a0 0.52%, #4b4be1 100%);
    --secondaryGradient: linear-gradient(268.91deg, #0000a0 -2.14%, #4b4be1 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --light: 300;
    --regular: 400;
    --semiBold: 600;
    --extraLight: 300;
    --italic: 300;
    --primary: #1f1fb0;
}


#my-chatbot .chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* HEADER */
#my-chatbot .chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

#my-chatbot .chatbox__image--header {
    margin-right: 10px;
}

#my-chatbot .chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

#my-chatbot .chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
#my-chatbot .chatbox__messages {
    padding: 0 20px;
}

#my-chatbot .messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

#my-chatbot .messages__item--visitor,
#my-chatbot .messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#my-chatbot .messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */

#my-chatbot .chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

#my-chatbot .chatbox__footer input {
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
    flex-grow: 1;
    /* Added this line to make the input take up the remaining space */
    margin-right: 10px;
    /* Added this line to create some space between the input and the Send button */
}

/* #my-chatbot .chatbox__footer input:focus {
    border: 1px solid rgb(224, 46, 46) !important;
} */

#my-chatbot .chatbox__send--footer {
    /* color: white; */
    background-color: transparent;
    color: white;
    border-color: transparent;
}

#my-chatbot .chatbox__button button,
#my-chatbot .chatbox__button button:focus,
#my-chatbot .chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#my-chatbot .message-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    /* border-radius: 20px; */
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    margin-bottom: 20px;
}

#my-chatbot .close-button {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}